VITE_SUPABASE_URL=https://wsezjohngwwocrhmdrvn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndzZXpqb2huZ3d3b2NyaG1kcnZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzMTIzNDIsImV4cCI6MjA5ODg4ODM0Mn0.FDdDcl6KzvircfGsYaRwHiOBKgisRFMtJqrxXbXemZQ
